.note-flex {
  background-image: url("../../assets/background.jpg");
  height: 100vh;
  width: 100%;
  color: white;
}

.note-detail h2 {
  background-color: aliceblue;
  width: 500px;
  color: black;
  text-align: left;
  padding: 20px;
}
.note-para p {
  background-color: aliceblue;
  width: 500px;
  color: black;
  text-align: left;
  padding: 20px;
}
.btns {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 30px;
  gap: 30px;
}
.btn-up {
  background-color: rgb(45, 134, 164);
  border: 1px solid rgb(45, 134, 164);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}
.note-cntainer {
  height: 100vh;
}

.btn0 {
  padding: 10px;
  background-color: rgb(28, 28, 182);
}
.note-cntainer {
  background-image: url("../../assets/background.jpg");
}
.note-cntainer input {
  width: 50%;
}


.btn0 {
  background-color: chocolate;
  border-radius: 3px;
  font-weight: 600;
  border: none;
 
}
